@import "_pocapp-theme-styles.scss";

.custom-item-contacts {
    background-color: transparent;

    img:first-child {
        left: 20px;
    }

    h2 {
        color: white;
    }

    p {
        color: #8E7F9C;
        font-weight: bold;
    }
}

.custom-item-projects {
    background-color: transparent;

    img:first-child {
        left: 20px;
        border: 0.5px solid white;
    }

    h2 {
        color: white;
        font-size: 20px;
    }

    p {
        color: #8E7F9C;
        font-weight: bold;
    }
}

.search-bar-contact {
    padding: 10px;
    margin: 50px 20px;
    background-color: white;
    height: 200px;
    top: 50px; 
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

    h2 {
        text-align: center; 
        color: #34184C
    }
}