@import "_pocapp-theme-styles.scss";
/**** Contact Animation *****/

.slide-icon {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 100px; }
}

@keyframes slide {
    100% { left: 100px; }
}

.expanded{
  width:100% !important;
}

.toggleMenu{
  width: 100%;
  left: 0px;
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  .contactQuickMenu {
    background: red;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    transition:width .8s ease;
  }
  .contactQuickMenuActive {
    width: 100% !important;
  }
}
/**** Contact Animation *****/

.custom-item-contacts {
    background-color: transparent;

    img:first-child {
        left: 20px;
    }

    h2 {
        color: white;
    }

    p {
        color: #8E7F9C;
        font-weight: bold;
    }
}

.custom-item-projects {
    background-color: transparent;

    img:first-child {
        left: 20px;
    }

    h2 {
        color: white;
        font-size: 24px;
        font-weight: 400;
    }

    p {
        color: #8E7F9C;
        font-weight: bold;
    }
}

.custom-item-news {

    h2 {
        font-size: 24px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
        font-weight: 300;
    }
}

.search-bar-contact {
    padding: 10px;
    margin: 50px 20px;
    background-color: white;
    height: 200px;
    top: 50px;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

    h2 {
        text-align: center;
        color: #34184C
    }
}

.custom-item-slider {
    padding: 0px;
}

.scroll-style {
    width: 100%;
    height: 100%
}

.img-profile-photo {
   position: absolute;
   z-index: 2; 
}