/* Define variables here
========================================================================== */

/* IONIC - Default ionic variables
========================================================================== */
$textColor: #ccc;

/* TEMPLATE - Template variables
========================================================================== */

/* MAIN */
$main-search: 10px;

/* CONTACTS - */
$main-bg-color-contacts: #34184C;
$main-bg-image-contacts: url("../../images/background-contacts.png");
$main-bg-opacity-contacts: 0.05;

/* PROJECTS - */
$main-bg-color-projects: #393939;
$main-bg-image-projects: url("../../images/background-projects.png");
$main-bg-opacity-projects: 0.1;

/* NEWS - */
$main-bg-color-news: #3A3A68;
$main-bg-image-news: url("../../images/background-news.png");
$main-bg-opacity-news: 0.1;