/* Define variables here
========================================================================== */

/* IONIC - Default ionic variables
========================================================================== */
$textColor: #ccc;

/* TEMPLATE - Template variables
========================================================================== */

/* MAIN */
/* '' - Searchbar */
$main-search-border-radius: 10px;

/* '' - Logo */
$main-logo-src: url("../../images/logo/ciber.png");
$main-logo-height: 30px;
$main-logo-width: 109px;

/* CONTACTS - */
$main-bg-color-contacts: #34184C;
$main-bg-image-contacts: url("../../images/background/background-contacts.png");
$main-bg-opacity-contacts: 0;

/* PROJECTS - */
$main-bg-color-projects: #393939;
$main-bg-image-projects: url("../../images/background/background-projects.png");
$main-bg-opacity-projects: 0.1;

/* NEWS - */
$main-bg-color-news: #3A3A68;
$main-bg-image-news: url("../../images/background/background-news.png");
$main-bg-opacity-news: 0.1;

/* INFORMATION - */
$main-bg-color-information: #34184C;
$main-bg-image-information: none;
$main-bg-opacity-information: 0.1;

/* ICONS */
$icon-linkedIn: url('../../images/icons/linkdin.png');
$icon-skype: url('../../images/icons/skype.png');
$icon-email: url('../../images/icons/mail.png');
$icon-mobileNumber: url('../../images/icons/mobile.png');
$icon-storeContact: url('../../images/icons/more.png');
