<ion-view view-title="Contact details" class="mainstyle-contacts">

    <div></div>

    <ion-content scroll="false">

        <div class="list" style="margin-bottom: 0px;">
            <br/>
            <div class="custom-profile-area">
                <img id="profilephoto" src="{{userprofile.data.profilephoto}}" style="border: 5px solid white;">
                <h2>{{userprofile.data.firstname + " " + userprofile.data.lastname}}</h2>
                <p>{{userprofile.data.role}}</p>
            </div>
        </div>

        <div class="row tab-bar-custom" style="margin-top: 20px;">
            <div class="col col-50 text-center custom-tab-bar-item" ng-class="userprofile.subject == 'personal' ? 'active-subject' : 'inactive-subject'" ng-click="userprofile.changeSubject('personal')">
                <span>Personal</span>
            </div>
            <div class="col col-50 text-center custom-tab-bar-item" ng-class="userprofile.subject == 'company' ? 'active-subject' : 'inactive-subject'" ng-click="userprofile.changeSubject('company')">
                <span>Company</span>
            </div>
        </div>

        <ion-scroll class="scroll-style" zooming="false" direction="y">

            <div ng-show="userprofile.subject == 'personal'">
                <div class="list">
                    <a class="item item-icon-right custom-item" ng-click="userprofile.callPerson(userprofile.data.mobileNumber)">
                        <i class="icon ion-android-phone-portrait"></i>
                        {{userprofile.data.mobileNumber}}
                    </a>
                    <a class="item item-icon-right custom-item" ng-click="userprofile.callPerson(userprofile.data.phoneNumber)">
                        <i class="icon ion-ios-telephone"></i>
                        {{userprofile.data.phoneNumber}}
                    </a>
                    <a class="item item-icon-right custom-item" ng-click="userprofile.sendMail(userprofile.data.email)">
                        <i class="icon ion-email"></i>
                        {{userprofile.data.email}}
                    </a>
                    <a ng-repeat="skypeAccount in userprofile.data.skype" class="item item-icon-right custom-item" ng-click="userprofile.openSkype(skypeAccount.name)">
                        <i ng-class="{'icon ion-social-skype' : skypeAccount.type == 'skype', 'icon ion-social-skype-outline' : skypeAccount.type == 'skype4business'}"></i>
                        {{skypeAccount.name}}
                    </a>
                    <!-- <a class="item item-icon-right custom-item" href="#">
                        <i class="icon ion-social-skype"></i>
                        skype
                    </a>
                    <a  class="item item-icon-right custom-item" href="#">
                        <i class="icon ion-social-skype-outline"></i>
                        skype4business
                    </a> -->
                    <a ng-show="userprofile.data.linkedIn != ''" class="item item-icon-right custom-item" ng-click="userprofile.linkedIn(userprofile.data.linkedIn)">
                        <i class="icon ion-social-linkedin"></i>
                        {{userprofile.data.linkedIn}}
                    </a>
                    <br/>
                    <div>
                        <ion-slide-box show-pager="false">
                            <ion-slide>
                                <div class="list">
                                    <a class="item item-thumbnail-left" href="#">
                                        <img src="cover.jpg">
                                        <h2>Pretty Hate Machine</h2>
                                        <p>Nine Inch Nails</p>
                                    </a>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="list">
                                    <a class="item item-thumbnail-left" href="#">
                                        <img src="cover.jpg">
                                        <h2>Pretty Hate Machine</h2>
                                        <p>Nine Inch Nails</p>
                                    </a>
                                </div>
                            </ion-slide>
                        </ion-slide-box>
                    </div>
                    <div class="row" style="position: relative; height: 44px !important;"></div>
                </div>
            </div>

            <div ng-show="userprofile.subject == 'company'">
                <div class="list">
                    <a class="item custom-item">
                        {{userprofile.data.company}}
                    </a>
                    <a class="item custom-item">
                        {{userprofile.data.department}}
                        {{userprofile.data.unit}}
                        {{userprofile.data.team}}
                    </a>
                    <a class="item custom-item">
                        {{userprofile.data.manager}}
                    </a>
                </div>
            </div>

        </ion-scroll>

    </ion-content>

    <div>
        <div class="bar bar-footer" ng-click="userprofile.storeContact()" style="margin: auto; background: transparent;">
            <button class="button button-balanced icon ion-ios-plus-outline" style="width: 90%; text-align: center; margin: auto;">
                Add to Contacts
            </button>
        </div>
    </div>

</ion-view>
