<ion-view class="mainstyle-projects" data-cache="false">
    <ion-nav-title>{{projectdetail.data.title}}</ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="projectdetail.projectDetailRefresh()">
        </ion-refresher>

        <div>
            <image-zoom-gallery galleryId="projectDetail" images="projectdetail.allImages"></image-zoom-gallery>
        </div>

        <div class="row tab-bar-custom">
            <div class="col col-33 text-center custom-tab-bar-item" ng-class="projectdetail.subject == 'project' ? 'active-subject' : 'inactive-subject'"
                ng-click="projectdetail.changeSubject('project')"><span>Project<span></div>
            <div class="col col-33 text-center custom-tab-bar-item" ng-class="projectdetail.subject == 'team' ? 'active-subject' : 'inactive-subject'"
                ng-click="projectdetail.changeSubject('team')"><span>Team</span></div>
            <div class="col col-33 text-center custom-tab-bar-item" ng-class="projectdetail.subject == 'links' ? 'active-subject' : 'inactive-subject'"
                ng-click="projectdetail.changeSubject('links')"><span>Links</span></div>
        </div>

    </ion-content>
</ion-view>
