<ion-view view-title="Project Detail">
    <ion-content>
        <!--{{projectdetail.data}}-->

        <div class="list card">

            <div class="item">
                <!--<img src="{{projectdetail.data.projectMainPhoto}}">-->
                <h2>{{projectdetail.data.title}}</h2>
                <p>{{projectdetail.data.year + ', ' + projectdetail.data.unit + ' ' + projectdetail.data.team}}</p>
            </div>

            <a class="item item-list-detail">
                <ion-scroll direction="x">
                    <img ng-repeat="image in projectdetail.allImages" ng-src="{{image.src}}" ng-click="projectdetail.showImages($index)" class="image-list-thumb"/>
                </ion-scroll>
            </a>

            <!--<a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i> Start listening
            </a>-->
        </div>

        <div class="row">
            <div class="col col-33 text-center" ng-class="projectdetail.subject == 'project' ? 'active-subject' : ''" ng-click="projectdetail.changeSubject('project')">Project</div>
            <div class="col col-33 text-center" ng-class="projectdetail.subject == 'team' ? 'active-subject' : ''" ng-click="projectdetail.changeSubject('team')">Team</div>
            <div class="col col-33 text-center" ng-class="projectdetail.subject == 'links' ? 'active-subject' : ''" ng-click="projectdetail.changeSubject('links')">Links</div>
        </div>

    </ion-content>
</ion-view>