<ion-view view-title="News">
    <ion-content>
        <!--{{projectdetail.data}}-->

        <image-zoom-gallery></image-zoom-gallery>

        <div class="list card">

            <div class="item">
                <!--<img src="{{projectdetail.data.projectMainPhoto}}">-->
                <h2>{{newsdetail.data.title}}</h2>
                <p>{{newsdetail.data.author + ', ' + newsdetail.data.createDate + ', ' + newsdetail.data.year}}</p>
            </div>

            <a class="item item-list-detail">
                <ion-scroll direction="x">
                    <img ng-repeat="image in newsdetail.allImages" ng-src="{{image.src}}" ng-click="newsdetail.showImages($index)" class="image-list-thumb"
                    />
                </ion-scroll>
            </a>

            <!--<a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i> Start listening
            </a>-->
        </div>

    </ion-content>
</ion-view>